<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
       
          <h4 class="card-title"> Person List</h4>
        </div>
        <div class="card-body">
          <button type="button" (click)="openAddModal(addModal)" rel="tooltip"
          class="btn btn-success btn-icon btn-sm ">
          Add Person
        </button>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th class="text-center">
                  #
                </th>
                <th>
                  First name
                </th>
                <th>
                  Last name
                </th>
                <th class="text-center">
                  Email
                </th>
                <th class="text-right">
                  Adress
                </th>
                <th class="text-right">
                  Actions
                </th>
              </thead>
              <tbody *ngFor="let person of personList">
                <tr>
                  <td class="text-center">
                    {{person.id}}
                  </td>
                  <td>
                    {{person.first_name}}
                  </td>
                  <td>
                    {{person.last_name}}
                  </td>
                  <td class="text-center">
                    {{person.email}}
                  </td>
                  <td class="text-right">
                    {{person.adresse}}
                  </td>
                  <td class="text-right">
                    <button type="button" (click)="openEditModal(editModal,person)" rel="tooltip"
                      class="btn btn-success btn-icon btn-sm ">
                      Edit
                    </button>
                    <button type="button" (click)="deletePerson(person.id)" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- EDIT USER Modal -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <button type="button" (click)="modal.dismiss()" data-dismiss="modal" aria-hidden="true" class="close">
      <i class="nc-icon nc-simple-remove"></i></button>
    <h5 id="myModalLabel" class="modal-title">Modifier User</h5>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="editForm()">
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">First name</label>
        <div class="col-sm-8">
          <input type="text" formControlName="first_name"  class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Last name</label>
        <div class="col-sm-8">
          <input type="text" formControlName="last_name"  class="form-control" id="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="text" formControlName="email"   class="form-control" id="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Adress</label>
        <div class="col-sm-8">
          <input type="text" formControlName="adresse"  class="form-control" id="name">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-round" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-info btn-round">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- ADD USER Modal -->
<ng-template #addModal let-modal>
  <div class="modal-header">
    <button type="button" (click)="modal.dismiss()" data-dismiss="modal" aria-hidden="true" class="close">
      <i class="nc-icon nc-simple-remove"></i></button>
    <h5 id="myModalLabel" class="modal-title">ADD Person</h5>
  </div>

  <div class="modal-body">
    <form [formGroup]="addPersonForm" (ngSubmit)="addPerson()">
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">First name</label>
        <div class="col-sm-8">
          <input type="text" formControlName="first_name"  class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Last name</label>
        <div class="col-sm-8">
          <input type="text" formControlName="last_name"  class="form-control" id="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="text" formControlName="email"   class="form-control" id="name">
        </div>
      </div>

      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Adress</label>
        <div class="col-sm-8">
          <input type="text" formControlName="adresse"  class="form-control" id="name">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-round" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-info btn-round">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>